@font-face {
    font-family: "BoldPixels";
    src: url("/boldpixels/BoldPixels.ttf") format("truetype"), url("/boldpixels/BoldPixels.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: auto;
  }
  